.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
}

.btn {
  background-color: black;
  color: white;
}

footer {
  padding: 10px, 10px, 0, 10px;
  background-color: yellow;
  margin: 4px, 20px, 4px, 20px;
}

.card-hotel {
  flex: 1 150px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2px 5px 2px 5px;
  margin-top: 1rem;
}

.card-hotel p {
  text-align: justify;
}

.btn-reserva {
  width: 100%;
}
