.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
  margin-bottom: 0;
}

.carouselmain {
  margin-bottom: 1rem;
}

.btn {
  /* background-color: black; */
  color: white;
  border-color: none;
}

footer {
  padding: 10px, 10px, 0, 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 250px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;
  /* padding: 2px 5px 2px 5px;
  margin-top: 1rem; */
}

.card-hotel p {
  text-align: justify;
}

.btn-reserva {
  width: 100%;
}

.footer-address-icon {
  padding-right: 10px;
}
